$errorColour: #ff3b30;

.feedback {
    &__form {
        display: flex;
        flex-direction: column;

        mat-form-field {
            padding: .25em 0;
        }
        &__input-error {
            color: $errorColour;
        }
        &__button {
            margin-top: 1em;
        }
    }
}
