$errorColour: #ff3b30;

.feedback {
    &__form {
        display: flex;
        flex-direction: column;
        &__input-error {
            color: $errorColour;
        }
        &__button {
            margin-top: 1em;
        }
    }
}
